/* You can add global styles to this file, and also import other style files */

.chart {
  margin-left: 100px;
  display: flex;
  width: 350px;
  height: 360px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

body {
  /*background-color: rgba(249, 191, 69, 0.6);*/
}

mat-card-content{
  overflow: auto;
  height: 120px;
  width: 440px;
}

.list {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card{
  margin-right: 60px;
  display: flex;
  align-items: center;
  /*background-color: rgba(249, 191, 69, 0.6);*/
}

.sql-input{
  width: 300px;
  height: 150px;
  margin-bottom: 100px;
  margin-right: 15px;
}

.card div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.return {
  width: 440px;
  height: 140px;
  margin-top: 15px;
  margin-right: 15px;
}

